{
  "openapi": "3.0.1",
  "info": {
    "title": "Puppilot Scribing API",
    "description": "API for managing scribing sessions, audio uploads, and transcription services.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://scribe-api.puppilot.co/staging/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "summary": "Login",
        "description": "Authenticate user and get an access token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string", "format": "password" }
                },
                "required": ["email", "password"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful login. Token valid for 1 hour.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": { "type": "string" },
                    "refresh_token": { "type": "string" },
                    "token_type": { "type": "string", "example": "bearer" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/recording-sessions/create": {
      "post": {
        "summary": "Create a Recording Session",
        "description": "Creates a new recording session for scribing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" }
                },
                "required": ["name", "description"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recording session created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_id": { "type": "string" },
                    "name": { "type": "string" },
                    "description": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/templates/all": {
      "get": {
        "summary": "Get All Templates",
        "description": "Retrieve all available scribing templates.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "List of templates.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "public_id": { "type": "string" },
                          "name": { "type": "string" },
                          "description": { "type": "string" }
                        }
                      }
                    },
                    "has_next": { "type": "boolean" },
                    "current_page": { "type": "integer" },
                    "items_per_page": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/audio/generate-upload-url": {
      "post": {
        "summary": "Generate Upload URL",
        "description": "Generates a presigned URL for uploading audio files.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recording_session_public_id": {
                    "type": "string",
                    "description": "The public ID of the recording session."
                  },
                  "auto_scribe_template_public_id": {
                    "type": "string",
                    "description": "The public ID of the scribe template to use for automatic transcription. Optional.",
                    "nullable": true
                  }
                },
                "required": ["recording_session_public_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Presigned URL generated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": { "type": "string" },
                    "message": { "type": "string" }
                  }
                },
                "examples": {
                  "Successful Response": {
                    "value": {
                      "url": "<string>",
                      "message": "Presigned URL generated successfully. Use it to upload the audio file."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scribe/request": {
      "post": {
        "summary": "Request Scribe",
        "description": "Request scribing for a recording session using a specified template.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "recording_session_public_id": { "type": "string" },
                  "template_public_id": { "type": "string" }
                },
                "required": ["recording_session_public_id", "template_public_id"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Scribing request created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_id": { "type": "string" },
                    "message": { "type": "string" }
                  }
                },
                "examples": {
                  "Successful Response": {
                    "value": {
                      "public_id": "<string>",
                      "message": "Scribing request created successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/scribe/get/{public_id}": {
      "get": {
        "summary": "Get Scribe Status",
        "description": "Retrieve the status of a scribing request.",
        "parameters": [
          {
            "name": "public_id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Scribing status retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "public_id": { "type": "string" },
                    "transcript_public_id": { "type": "string" },
                    "template_public_id": { "type": "string" },
                    "status": {
                      "type": "string",
                      "enum": ["requested", "scribing", "scribed"]
                    },
                    "categories_output": {
                      "type": "array",
                      "items": { "type": "object" },
                      "nullable": true
                    }
                  }
                },
                "examples": {
                  "Successful Response": {
                    "value": {
                      "public_id": "<string>",
                      "transcript_public_id": "<string>",
                      "template_public_id": "<string>",
                      "status": "scribing",
                      "categories_output": null
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/medication_agent": {
      "post": {
        "summary": "Medication Agent",
        "description": "Handles medication-related tasks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": { "type": "string", "example": "<String>" }
                },
                "required": ["input"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Medication details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "description": "If `false`, input was not related to medication." },
                    "reason": {
                      "type": "object",
                      "properties": {
                        "Plain English Summary": { "type": "string" },
                        "Plain English Concise": { "type": "string" },
                        "Medication Details": {
                          "type": "object",
                          "properties": {
                            "Drug Name & Classification": { "type": "string" },
                            "Indications & Uses": { "type": "string" },
                            "Pharmacology & Mechanism of Action": { "type": "string" },
                            "Dosing by Species": { "type": "string" },
                            "Administration & Route": { "type": "string" },
                            "Contraindications": { "type": "string" },
                            "Precautions & Warnings": { "type": "string" },
                            "Adverse Effects": { "type": "string" },
                            "Drug Interactions": { "type": "string" },
                            "Monitoring Parameters": { "type": "string" },
                            "Overdose Information": { "type": "string" },
                            "Withdrawal Times (for food animals)": { "type": "string" },
                            "Client Information & Instructions": { "type": "string" }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://agents-api.puppilot.co/v1"
          }
        ]
      }
    },
    "/ddx_agent": {
      "post": {
        "summary": "Differential Diagnosis Agent",
        "description": "Generates differential diagnoses based on clinical presentation and diagnostic findings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": { "type": "string", "example": "<String>" }
                },
                "required": ["input"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Differential diagnosis details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "description": "If `false`, input was not related to differential diagnoses." },
                    "reason": {
                      "type": "object",
                      "properties": {
                        "Plain English Summary": { "type": "string" },
                        "Plain English Concise": { "type": "string" },
                        "Differential Diagnosis Details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "Name": { "type": "string" },
                              "Cause / Etiology": { "type": "string" },
                              "Symptoms / Clinical Signs": { "type": "array", "items": { "type": "string" } },
                              "Risk Factors / Predispositions": { "type": "string" },
                              "Diagnosis & Rule-Outs": { "type": "object" },
                              "Commonly Confused With / Differentials to Consider": { "type": "array", "items": { "type": "string" } },
                              "Prognosis": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://agents-api.puppilot.co"
          }
        ]
      }
    },
    "/treatment_plan_agent": {
      "post": {
        "summary": "Treatment Plan Agent",
        "description": "Generates treatment plan based on clinical presentation and diagnostic findings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input": { "type": "string", "example": "<String>" }
                },
                "required": ["input"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Treatment plan details retrieved successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "boolean", "description": "If `false`, input was not related to treatment plans." },
                    "reason": {
                      "type": "object",
                      "properties": {
                        "Plain English Summary": { "type": "string" },
                        "Plain English Concise": { "type": "string" },
                        "Treatment Plan Details": {
                          "type": "object",
                          "properties": {
                            "Treatment Options": { "type": "string" },
                            "Medications": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Name": { "type": "string" },
                                  "Role": { "type": "string" },
                                  "Dosage": { "type": "string" }
                                }
                              }
                            },
                            "Dietary Management": { "type": "string" },
                            "Regular Veterinary Monitoring": {
                              "type": "object",
                              "properties": {
                                "Intervals": { "type": "string" },
                                "Tests": { "type": "array", "items": { "type": "string" } }
                              }
                            },
                            "Symptom Management": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "Symptom": { "type": "string" },
                                  "Management": { "type": "string" }
                                }
                              }
                            },
                            "Lifestyle Modifications": { "type": "string" },
                            "Possible Surgical Options": {
                              "type": "object",
                              "properties": {
                                "Option": { "type": "string" },
                                "Indication": { "type": "string" },
                                "Risks": { "type": "string" },
                                "Post-operative Management": { "type": "string" }
                              }
                            },
                            "Owner Education": { "type": "array", "items": { "type": "string" } }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://agents-api.puppilot.co"
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "integer" },
          "message": { "type": "string" }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
